.container {
  width: 100%;
  height: auto;
  position: absolute;
}

@media (min-width: 768px) {
  .background {
    max-width: 80%;
    padding-left: 40%;
  }
}

/* HEADER */
.header {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

/* BACKGROUND IMAGE */
.background {
  background-color: black;
  max-width: 100%;
  max-height: 100vh;
}

/* CARD */
.current-forecast {
  display: grid;
  width: 100%;
  height: auto;

  border: none;
  color: #FFF;
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
}

.current-forecast h1 {
  font-size: 4em;
  padding-top: 10em;
  text-align: center;
}

h2 {
  display: block;
  flex: 0 1 auto;
  /* font-size: 12vw; */
  /* padding: 0 10vw 5vw 15vw; */
}

/* .carousel-indicators {
  margin: 0 15% 0 15%;
}

.carousel-indicators li {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  width: 5px;
} */

.weekly-forecast {
  display: block;
  margin-bottom: -1px;
  padding: 0.75rem 1.25rem;
  position: relative;
}

.section {
  display: grid;
  grid-template-columns: 60% 40%;
}
